<!DOCTYPE HTML>

<html>
   <head>
        <title> Shape Editor</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script type=text/javascript src="{{ url_for('static', filename='js/lib/fabric.js') }}"></script> 
      <script src="{{ url_for('static', filename='js/lib/opencv.js') }}"></script>
      <script src="{{ url_for('static', filename='js/grabcut.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/grabcut_demo.js') }}"></script> 
    <style type='text/css'>
    .grabcut_res {
            max-height: 300px;
            max-width:300px;
    }
    </style>
    </head>

    <body> 
      <div class="container">
        <div id="appending_container">
        </div>
    </div>
    </body>

</html>